<label class="tag-input" for="{{id}}">{{ label || 'Tag input'}}
    <div class="tag-item" *ngFor="let item of selectedItems">{{getDisplayText(item)}}
        <button class="tag-item-remove"
                title="Remove"
                type="button"
                (click)="removeItem(item)">Remove
        </button>
    </div>
    <div class="tag-input-wrap">
        <span class="tag-input-sizer">{{queryText}}</span>
        <input id="{{id}}" type="text" (keydown)="inputKeyDown($event)" (input)="inputInput($event)" [value]="queryText"
               (blur)="inputBlur()">
        <tag-suggestions [suggestions]="suggestions" (selected)="addItem($event)"
                         [noItemsMessage]="noItemsMessage"
                         [backgroundColor]="backgroundColor"
                         [(highlightIndex)]="highlightIndex"></tag-suggestions>
    </div>
</label>
