:host {
  display: inline-block;
  border: solid 1px #999;

  span, input, button, label {
    box-sizing: border-box;
  }

  .tag-item {
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    border: solid 1px #999;
    padding: 0 0 0 .25rem;
    border-radius: .25rem;
    margin: 0 .25rem .25rem 0;
    vertical-align: top;

    > .tag-item-remove {
      font-size: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: .25rem;
      background-color: transparent;
      border: none;
      border-radius: .25rem .25rem 0 0;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }

      &:before {
        content: 'x';
        font-size: 1rem;
      }
    }
  }

  .tag-input {
    font-size: 0;
    width: 100%;
    padding: .25rem .25rem 0;
    display: inline-block;
    vertical-align: top;
  }
  .tag-input-wrap {
    height: 1.625rem;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    margin-bottom: .25rem;
    > .tag-input-sizer {
      visibility: hidden;
      padding: 0 3rem 0 0;
      font-family: inherit;
      line-height: 1.5;
      height: 1.625rem;
      white-space: nowrap;
    }
    > input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      font-family: inherit;
      color: #000;
      padding: 0.0625rem .25rem;
      background-color: transparent;
      height: 1.625rem;
      font-size: 1rem;
      border: none;
      line-height: 1.5;
      outline: none !important;
    }
  }

  tag-suggestions {

    &.hide {
      animation-name: delayed-exit;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
      height: 0;
    }
  }
}

@keyframes delayed-exit {
  0% {
    opacity: 0;
    height: auto;
  }
  99% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 0;
    height: 0;

  }
}
